<?php

if (count($fiches)>0) {
    echo $info_res;
    echo $pager_links;

  foreach ($fiches as $fiche) {

    $newsTitle = $fiche['bf_titre'];
    // TODO retravailler le format de la date
    $newsDate = $fiche['date_maj_fiche'];
    $newsHat = $fiche['bf_intro'];
    // TODO Optimize the size and store in cache
    $newsImage = 'files/' . $fiche['imagebf_image'];
    $newsLink = $fiche['url'];
    $newsLink = str_replace('/wakka.php', '', $newsLink);

    echo "<article>
        <a href='$newsLink'><h1>$newsTitle</h1></a>
        <p class='date'>$newsDate</p>
        <div class='newsHat' style='background-image: url($newsImage);'>
            <p class='newsHat'>
            $newsHat<br />
            <a class='newsRead' href='$newsLink'>Read the article</a>
            </p>
        </div>
    </article>
    ";
  }

  echo $pager_links;
}
