.btn-etres {
  font-size: 1.1em;
  font-weight: $semiBold;
  line-height: 3em;
  text-align: left;
  background: $etre-blue-light;
  color: white;
  width: 100%;
  padding: 0.25em 1em;
  margin-bottom: calc(#{$etre-padding}/2);
  text-decoration: none;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-etres:hover {
  background: $etre-blue;
}

.btn-etres-actu {
  text-align: left;
}

.btn-partners {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.btn-partners:hover {
  text-decoration: none;
}

.tradLink {
  background: $etre-blue-light;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
}

.tradLink::before {
  content:"✎";
  color: white;
  font-size: 1.3em;
}

.tradLink:hover {
  text-decoration: none;
  color: white;
  background: $etre-blue;
}

@media only screen and (max-width : $minWidth) {
  .btn-etres {
    font-size: 1.2em;
    text-align: center;
  }

  .btn-etres-actu {
    text-align: right;
  }


}
