$etre-grey: #666;
$etre-blue: #004494;
$etre-blue-light: #0077C8;
$etre-yellow: #FFED00;
$etre-font-size: 4vmin;
$etre-padding: 4vmin;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

/** Adaptation des zones **/

body {
  display: flex;
  flex-flow: column;

  header {
    order: 1;
  }

  #main {
    order: 2;
  }

  footer {
    order: 3;
  }
}

header {
  display: flex;
  flex-flow: column;
}

#leftPanel {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

#main {
  display: flex;
  flex-flow: column;
  align-items: stretch;

  #partnersMap, #hat, #flags {
    display: none;
  }
}

#page {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

footer {
  background: $etre-blue;
  padding: $etre-padding;
}

@media only screen and (min-width : 979px) {
  header {
    flex-flow: row;
  }

  #main {
    flex-flow: row-reverse;

    #leftPanel {
      flex-basis: 33%;

      #partnersMap, #hat {
        display: flex;
        flex-flow: column;
        align-items: stretch;
      }

      #flags {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-between;
      }
    }

    #page {
      flex-basis: 67%;
    }
  }
}


/********************
 ** Mise en forme
********************/
html {
  background: linear-gradient($etre-blue, $etre-blue-light);
}

header, #hat, #legalsMentions, #contact, #newsLink
{
  padding: $etre-padding;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  font-size: $etre-font-size;
  max-width: 979px;
  margin: auto;
}

header {
  a.header {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  a.logoErasmus {
    align-self: flex-end;
    margin-top: $etre-padding;
    width: 20%;
    img {
      width: 100%;
      height: auto;
    }
  }
  margin-bottom: $etre-padding;
}

#main {
  margin: 0;
  padding: 0;
  margin-bottom: $etre-padding;

  #page {
    padding: 0 $etre-padding;
    #newsLink {
      background: $etre-blue-light;
      color: white;
      font-size: 150%;
      font-weight: bold;
      margin-top: $etre-padding;
      margin-bottom: $etre-padding;
      text-align: center;
      text-decoration: underline;
      vertical-align: middle;
    }

    img {
      max-width: 100%;
    }

    p.hat {
      font-weight: bold;
    }

    p.date {
      font-size: 75%;
      color: $etre-blue;
      text-align: right;
    }

    h1 {
      color: $etre-blue;
      font-weight: bolder;
    }
  }

  #leftPanel {
    #hat {
      background: $etre-yellow;
      color: $etre-blue;
      font-weight: bold;
      font-size: 125%;
      a.plus {
        font-size: 150%;
        background: $etre-blue-light;
        color: $etre-yellow;
        padding: 0.1em 0.5em;
        margin: 0.2em 0 0 auto;
        border-radius: 50%;
      }
      a.plus:hover {
        text-decoration: none;
      }
    }

    #flags {
      margin-top: calc(#{$etre-padding} / 2);
    }

    #resourcesLink {
      color: white;
      text-align: center;
      text-decoration: underline;
      font-weight: bold;
      vertical-align: middle;
      background: $etre-blue url('../img/iconResources.png') no-repeat top left;
      background-size: contain;
      line-height: 300%;
      font-size: 200%;
    }
  }
}

#partnersMap, #footerPartnersMap {
  h2 {
    background-color: $etre-blue-light;
    color: white;
    width: 100%;
    margin-bottom: 0;
    line-height: 150%;
    vertical-align: middle;
    font-weight: bold;
    padding-left: $etre-padding;

  }

  iframe {
    width: 100%;
    height: 290px;
    border: 0;
  }
}

#partnersMap {
  margin-bottom: $etre-padding;
}

footer {
  color: white;
  font-size: 80%;
  //padding: 0;

  a {
    color: white;
    text-decoration: underline;
  }

  div.row:first-child {
    text-align: center;
  }
}

@media only screen and (min-width : 979px) {

  body {
    font-size: 16px;
    padding-top: 14px;
  }

  header, #main {
    padding: 0 40px;
  }

  footer {
    padding: 40px;
    background: $etre-blue;
  }

  #page {
    margin-left: 20px;
  }

  #partnersMap {
    display: flex;
  }

  #legalsMentions {
    background-color: $etre-blue;
    color: white;
    a {
      color: white;
    }
  }

  #hat, #legalsMentions, #newsLink {
    padding: 14px;
  }

  #contact {
    padding: 0;
  }

  #newsLink {
    margin-left: 33%;
  }

  #partnersMap, #hat {
    display: inherit;
  }

  #footerPartnersMap {
    display: none;
  }
}

/** Mise en forme des articles page principale **/
.page > article {
  display: flex;
  flex-flow: column;

  h1 {
    color: $etre-blue;
    font-weight: bold;
    font-size: 200%;
  }

  p.date {
    align-self: flex-end;
    color:  $etre-blue;
    font-size: 75%;
    padding: 0 $etre-padding;
  }

  div.newsHat {
    background-size: cover;
    background-repeat: no-repeat;
    p.newsHat {
      margin-top: 24vmin;
      margin-bottom: 0;
      background-color: rgba(255, 255, 255, 0.65);
    }
    a.newsRead {
      text-decoration: underline;
    }
  }
}

@media only screen and (min-width : 979px) {

  .page > article {
    flex-flow: row;
    flex-wrap: wrap;
    border: 1px solid $etre-blue;
    margin-bottom: $etre-padding;
    padding-bottom: $etre-padding;

    h1 {
      padding: 0 0.5em;
      font-size: 175%;
    }

    p.date {
      width: 100%;
      text-align: right;
    }

    div.newsHat {
      background-size: 40% auto;
      background-repeat: no-repeat;
      padding: 0;
      p.newsHat {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: $etre-padding;
        margin-left: 40%;
        width: 60%;
        min-height: 6em;

        a.newsRead {
          margin-right: 0;
          margin-left: 50%;
        }
      }
    }
  }

}
