@import 'vars';
@import 'text';
@import 'button';

* {
  box-sizing: border-box;
}

/** Adaptation des zones **/

body {
  display: flex;
  flex-flow: column;

  header {
    order: 1;
  }

  #main {
    order: 2;
  }

  footer {
    order: 3;
  }
}

header {
  display: flex;
  flex-flow: column;
}

#leftPanel {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 0 1em;
}

#main {
  display: flex;
  flex-flow: column;
  align-items: stretch;

  #partnersMap, #hat, #flags {
    display: none;
  }
}

#page {
  display: flex;
  flex-flow: column;
  align-items: stretch;
}

#footer {
  background: $etre-blue;
  padding: $etre-padding;
}

@media only screen and (min-width : $minWidth) {

  #page {
    flex-basis: 67%;
    padding-right: 0 !important;
  }

  #header {
    flex-flow: row;
  }

  #leftPanel {
    padding: 0;
    flex-basis: 33%;
  }

  #leftPanel #hat, #leftPanel #partnersMap {
    display: inherit;
  }

  #main {
    flex-flow: row-reverse;
  }

  #partnersMap, #hat {
    display: flex;
    flex-flow: column;
    align-items: stretch;
  }
}

/********************
 ** Mise en forme
********************/
html {
  background: linear-gradient($etre-blue, $etre-blue-light);
}

body {
  background: white;
  max-width: $minWidth;
  margin: auto;
}

#header {
  padding: $etre-padding;
  a.logo {
    width: 100%;
  }

  a.logoErasmus {
    align-self: flex-end;
    margin-top: $etre-padding;
    width: 20%;
  }

  a img {
    width: 100%;
    height: auto;
  }
  margin-bottom: $etre-padding;
}

#main {
  margin: 0;
  padding: 0;
  margin-bottom: $etre-padding;
}

#page {
  padding: 0 $etre-padding;
  max-width: 613px;

  img {
    max-width: 100%;
  }

  p.hat {
    font-weight: bold;
  }

  p.date {
    font-size: 75%;
    color: $etre-blue;
    text-align: right;
  }

  h1 {
    color: $etre-blue;
    font-weight: bolder;
  }
}

#leftPanel {
  a.plus:hover {
    text-decoration: none;
    background: $etre-blue;
  }
}

#hat {
  background: $etre-yellow;
  color: $etre-blue;
  font-weight: $bold;
  font-size: 1.25em;
  padding: calc(#{$etre-padding} / 2);
  margin-bottom: calc(#{$etre-padding}/2);

  a.plus {
    font-size: 1.5em;
    background: $etre-blue-light;
    color: $etre-yellow;
    padding: 0.1em 0.5em 0.25em 0.5em;
    border-radius: 50%;
    text-decoration: none;
    align-self: flex-end;
  }
}

#partnersMap {
  margin-bottom: $etre-padding;

  h2 {
    background-color: $etre-blue-light;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 3em;
    padding: 0.25em 1em;
    vertical-align: middle;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: calc(#{$etre-padding} * 8);
    border: 0;
  }
}

#footer {
  color: white;
  padding-bottom: $etre-padding;

  div.include {
    font-size: 0.8em;
    a {
      color: white;
      text-decoration: underline;
    }

    a:hover {
      color: $etre-yellow;
    }

    div.row:first-child {
      text-align: center;
    }
  }
}

@media only screen and (min-width : $minWidth) {
  body {
    padding-top: $etre-padding;
  }

  #header, #main, #footer {
    padding: 0 $etre-padding;
  }

  #footer {
    background: $etre-blue;
    padding-bottom: $etre-padding;
  }
}

@import 'articles';
