@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 2em;
}

h1 {
  color: $etre-blue;
  font-size: 1.87em;
  font-weight: $semiBold;
}

h2 {
  //color: $mainYellow;
  font-size: 1.75em;
  font-weight: $semiBold;
}

h3 {
  //color: $secondBlue;
  font-size: 1.66em;
  font-weight: $semiBold;
}

h4 {
  //color: $secondOrange;
  font-size: 1.54em;
  font-weight: $semiBold;
}

h5 {
  //color: $mainPurple;
  font-size: 1.33em;
  font-weight: $bold;
}

h6 {
  //color: $secondPink;
  font-size: 1.2em;
}

a {
  //color: $etre-blue-light;
  text-decoration: underline;
}

a:visited {
  //color: $etre-blue;
}

.tradLink {
  background: $etre-blue-light;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;

}

@media only screen and (min-width : $minWidth) {
  body {
    font-size: 1.6em;
  }
}
