@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 2em;
}

h1 {
  color: #333;
  font-size: 2em;
  font-weight: $semiBold;
}

h2 {
  color: $etre-blue;
  font-size: 1.75em;
  font-weight: $semiBold;
}

h3 {
  color: $etre-blue-light;
  font-size: 1.50em;
  font-weight: $semiBold;
}

h4 {
  color: $etre-grey;
  font-size: 1.25em;
  font-weight: $semiBold;
}

h5 {
  color: $etre-grey;
  font-weight: $semiBold;
  font-size: 1.12em;
}

h6 {
  color: $etre-grey;
  font-weight: $semiBold;
  font-size: 1em;
}

a {
  color: $etre-blue-light;
  text-decoration: underline;
}

a:visited {
  color: $etre-blue;
}

hr {
  border: 0;
  height: 5px;
  background: $etre-yellow url("../img/hr.svg") repeat-y top left;
}

.tradLink {
  background: $etre-blue-light;
  padding: 0.5em 1em;
  color: white;
  text-decoration: none;
}

@media only screen and (min-width : $minWidth) {
  body {
    font-size: 1.6em;
  }
}
